/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* LAPTOP - 1024 */
@media (max-width:1024px){
    /* FIRST SECTION */
    .first-section-div-box{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        gap: 10px;
    }
    /* SECTION 4 */
    .sect4-text-box{
        text-align: center;
    }
    .sect4-photo-box{
        margin: 0 auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 25px 85px;
    }
    /* Section 5 */
    .sect5-text-box{
        left: 23%;
        height: 100px;
    }
}
@media (max-width:875px){
    /* header */
    .navigation.newNavigation{
        display: block;
        margin-top: 100px;
        background-color: rgb(117, 84, 45);
    }
    .ul-item{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 25px;
        padding: 20px;
    }
    .navigation{
        display: none;
    }
    .burger-bar{
        display: block;
        margin-top: 10px;
        margin-left: 85%;
    }
    .h1{
        margin-left: 15px;
    }
    .search-box{
        display: none;
    }
}
/* TABLET - 768 */
@media (max-width:768px){
    /* HEADER */
    .header-wraper{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    /* SECTION 3*/
    .sect3-text-box {
        max-width: 414px;
        height: 560px;
        padding: 18px;
    } 
    .sect3-text-box p{
        max-width: 380px;
    }
    .sect3-little-box{
        max-width: 21rem;
        height: 120px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sect3-little-box h3{
        max-width: 7.25rem;
        height: 60px;
    }
    .figure{
        max-width: 380px;
        height: 54px;
    }
    /* SECTION-5 */
    .sect5-form{
        width: 100%;
        min-height: 500px;
    }
    .type-box{
        width: 100%;
    }
    .type-box input {
        width: 92.5%;
    }
}
@media (max-width:607px){
    /* HEADER */
    .header-wraper{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    /* HEADER-ZERO */
    .background{
        min-height: 845px;
    }
    .background-text {
        top: 55%;
        left: 20%;
    }
    /* SECTION-5 */
    .background2{
        min-height: 724px;
    }
    .sect5-buttons {
        margin-left: 26%;
    }
    /* FOOTER */
    .footer-div-box{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-height: 780px;
        padding: 15px;
    }
    .copyright{
        min-height: 60px;
    }
}
@media (max-width: 480px){
    /* HEADER */
    .background{
        min-height: 770px;
    }
    /* SECTION-ZERO */
    .section-big-box{
        max-width: 30rem;
    }
    .background-picture{
        width: 100%;
    }
    .background-text h2{
        font-size: 2.75rem;
    }
    /* SECTION-5 */
    .sect5-buttons {
        margin-left: 18%;
    }
}
@media (min-width: 320px){
    /* SECTION-3 */
    .sect3-text-box {
        height: 620px;
    }
}