/* LAPTOP - 1024 */
@media (max-width:1024px){
    /* HEADER */
    .background-text{
        width: 350px;
        top: 60%;
        left: 60%;
    }
    .search-box input{
        width: 170px;
    }
    /* FIRST SECTION */
    .first-section-div-box{
        max-width: 1024px;
        height: 590px;
        justify-content: space-around;
    }
    /* SECOND SECTION */
    .section2{
        height: 600px;
    }
    .sect2-image-box{
        height: 500px;
        margin-right: 25px;
    }

    /* SECTION 3*/
    .sect3-big-box{
        max-width: 930px;
        height: 509px;
    }
    .sect3-photo-box{
        width: 368.64px;
        height: 368.64px;
        margin-top: 50px;
    }
    .sect3-text-box {
        width: 552px;
        height: 490px;
        padding: 18px;
    }
    .sect3-text-box p{
        width: 552px;
    }
    .figure{
        width: 508px;
        height: 54px;
    }
    .sect3-little-box{
        width: 508px;
        flex-wrap: wrap;
        gap: 10px;
    }
    /* SECTION 4 */
    .sect4-big-box{
        height: 750px;
    }
    .sect4-text-box{
        margin-left: 70px;
    }
    .sect4-photo-box{
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 25px 85px;
    }
    /* Section 5 */
    .sect5-big-box{
        height: 550px;
    }
    .sect5-big-box img{
        height: 100%;
    }
    .sect5-text-box{
        left: 23%;
        height: 100px;
    }
    .sect5-form{
        width: 630px;
        height: 350px;
        padding-left: 0px;
        left: 21%;
    }
    /* FOOTER */
    .footer-div-box{
        max-width: 1024px;
        justify-content: space-evenly;
    }
    .footer-child p {
        height: 160px;
    }
}
/* TABLET - 768 */
@media (max-width:768px){
    /* HEADER */
    .background-picture{
        max-width: 346px;
        width: 100%;
        height: 700px;
    }
    .background-text{
        width: 340px;
        height: 270px;
        top: 95%;
        left: 53%;
    }
    .search-box{
        display: none;
    }
    /* FIRST SECTION */
    .first-section-div-box{
        max-width: 768px;
        height: 1250px;
    }
    .black-image{
        width: 50%;
        
    }

    /*SECOND SECTION*/
    .sect2-text-box{
        width: 327px;
        padding-left: 20px;
    }
    .sect-2-button{
        margin-top: 15px;
    }
    .section2-big-box{
        width: 768px;
        margin-left: 0;
    }
    .sect2-image-box{
        width: 459px;
    }

    /* SECTION 3*/

    .sect3-big-box{
        width: 691px;
        height: 550px;
    }
    .sect3-photo-box{
        width: 276px;
        height: 276px;
        margin-top: 100px;
    }
    .sect3-text-box {
        width: 414px;
        height: 500px;
        padding: 18px;
    }
    .sect3-text-box p{
        width: 380px;
    }
    .figure{
        width: 381px;
        height: 54px;
    }
    .sect3-little-box{
        width: 400px;
        height: 120px;
        margin-top: 27px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    /* section4 */
    .sect4-big-box{
        min-height: 750px;
    }
    /* section 5 */
    .sect5-text-box{
        left: 11%;
    }
    .sect5-form{
        left: 9%;
    }
    /* FOOTER */
    .footer-div-box{
        height: 400px;
        justify-content: space-around;
        padding: 0;
    }
    .footer-contact{
        flex-direction: column;
        row-gap: 7px;
    }
    .footer-child{
        width: 210px;
        height: 290px;
    }
    .footer-child p {
        width: 150px;
        height: 275px;
    }
    .footer-photo-box{
        width: 210px;
        margin-top: 50px;
    }
    .copyright{
        margin: 13px auto;
    }
    
}
/* MOBILE- L (425) */
@media (max-width:425px){
    .background{
        width: 425px;
        height: 885px;
    }
    .div-navigation{
        width: 425px;
    }
    .nav-box{
        display: none;
    }
    .h1{
        margin-left: 15px;
    }
    .burger-bar{
        display: block;
        margin-left: 90px;

    }
    .search-box{
        display: none;
    }
    
    .background{
        height: 850px;
    }
    .background-picture img {
        max-width: 425px;
        margin-top: 20px;

    }
    .background-text{
        top: 60%;
        left: 10%;
        height: 275px;
    }
    
    /* FIRST SECTION */
    .section1{
        width: 425px;
    }

    .first-section-div-box{
        width: 425px;
        height: 1120px;
    }
    .black-image{
        width: 100%;
    }

    /* SECOND SECTION */
    .section2{
        height: 870px;
    }
    .section2-big-box{
        width: 425px; 
        display: flex;
        flex-direction: column-reverse;
    }
    .sect2-text-box{
        width: 425px;
        height: 460px;
        margin: 0;
        
    }
    .sect2-little-text-box{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .sect-2-button{
        margin-top: 20px;        
    }
    .sect2-image-box{
        width: 400px;
        height: 400px;

    }
    
    /* SECTION 3*/
    
    .sect3-big-box{
        width: 425px;
        height: 1250px;
    }
    .sect3-photo-box{
        width: 400px;
        height: 400px;
        margin-left: 10px;
        margin-top: 0;

    }
    .sect3-text-box {
        width: 369px;
        height: 660px;
        padding: 30px;
    }
    .sect3-text-box p{
        width: 369px;
        height: 189px;
    }
    .figure{
        width: 369px;
        height: 54px;
    }
    .sect3-little-box{
        width: 369px;
        height: 200px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    /* SECTION 4 */
    .sect4-big-box{
        height: 1900px;
    }

    /* section 5 */
    .sect5-big-box{
        height: 760px;
    }
    .sect5-text-box{
        width: 330px;
    }
    .sect5-form{
        width: 350px;
    }
    .sect5-form > form{
        width: 100px;
        margin-left: 19px;
    }
    .sect5-form textarea{
        width: 300px;
    }
    .sect5-buttons{
        width: 230px;
        margin-left: 44px;
    }
     /* FOOTER */
     .footer-div-box{
        height: 880px;
        flex-wrap: wrap;
     }
     .footer-child{
        width: 390px;
     }
     .footer-child p {
        width: 400px;
        height: 100px;   
    }
    .footer-photo-box{
        width: 300px;
        margin: 30px;
    }
    .footer-photo-text{
        width: 250px;
    }
    .footer-photo-text h3{
        width: 200px;
    }

}
