/* Header */
.header-wraper{ background-color: #3a0b039d;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
.div-navigation{   background-color: rgba(41, 3, 3, 0.767);
    display: flex;
    width: 100%;
    height: 60px;
    top: 0;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    z-index: 6;
    position: fixed;
}
.h1{
    font-weight: 900;
    font-size: 50px;
}
.h1 a{
    color: rgb(110, 82, 5);
}
.ul-item{
    width: 400px;
    display: flex;
    justify-content: space-between; 
}
.ul-item a{
    color: rgb(110, 82, 5);
}
.search-box input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    border-bottom: 1px solid rgb(110, 82, 5);
    background-color: #532b2b55;
}
.search-box input::placeholder{
    color: white;
    
}
input:focus{
    outline: none;
}
.search-box button{
    border: none;
    border-radius: 20%;
    
}
.burger-bar{ background-color: rgba(194, 185, 185, 0.582);
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    display: none;
}
.li-burger{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}
.background{
    background-image: url(../images/header-media-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}
.background-picture{
    position: absolute;
    width: 700px;
    height: 700px;
    top: 10%;
}
.background-text{
    color: white;
    position: absolute;
    max-width: 450px;
    width: 100%;
    height: 300px;
    top: 44%;
    left: 60%;
}
.background-text h4{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
.background-text h2{
    font-weight: 700;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.buy-button {
    background-color: rgb(110, 82, 5);
    width: 145px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    color: black;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    transition: 1s;
}
.buy-button a {
    color: white;
}
.buy-button:hover{
    background-color: rgb(202, 111, 6);
    transition: 1s;
}
/* First SECTION */
.first-section-div-box{
    background-color: black;
    width: 100%;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.playlist{
    width: 360px;
    height: 270px;
    position: relative;
    transition: 1s;
}
.playlist:hover{
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
    transition: 1s;
}
.playlist img{
    width: 100%;
}
.playlist-text{ 
    width: 302px;
    height: 158px;
    position: absolute;
    top: 41.5%;
    margin-left: 30px;
    padding-top: 30px;
    color: white;
}
.text-top{ 
    width: 230px;
    height: 35px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}
.text-top p{
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.clock-icon{
    width: 14px;
    height: 15px;
}
hr{
    width: 140px;
    border: 1px solid white;
    margin-left: 10px;
}
.text-bottom{
    padding-left: 10px;
    display: flex;
    width: 230px;
    height: 86px;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
.play-button{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    padding: 11px 19px;
    margin-top: 15px;
    margin-left: 230px;
    transition: 1s;
}
.play-button:hover{
    background-color: rgb(110, 82, 5);
    transition: 1s;
}
.black-image{     
    width:360px;
    height: 270px;
    background-color: rgb(10, 10, 10);
    transition: 1s;
    
}
.black-image:hover{
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
    transition: 1s;
    
}
.black-box-block{  background-color: rgba(255, 255, 255, 0.192);
    width: 100px;
    height: 100px;
    margin: 100px auto;
    padding: 10px 15px;
    font-size: 38px;
    border-radius: 50%;
    transition: 1s;
}
.black-box-block:hover{
    background-color:  rgb(110, 82, 5);
    transform: 1s;
}

/* SECTION _2 */

.section2{
    background-color: black;
    height: 750px;
    display: flex;
}
.section2-big-box{
    display: flex;
    align-items: center;
    margin-left: 110px;
}
.sect2-text-box {
    display: inline-block;
    margin-top: 20px;
    color: white;
    margin-left: 30px;
}
.sect2-little-text-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
}
.sect2-text-box h4{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.sect2-text-box h2{
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 55px;
    
}
.sect2-text-box p{
    font-weight: 400;
    font-size: 43px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.sect2-text-box h3{
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    width: 172px;
}
.sect-2-button{
    background-color: rgb(110, 82, 5);
    width: 160px;
    height: 49px;
    text-align: center;
    padding-top: 14px;
    color: white;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    transition: 1s;
    margin-top: 50px;
}
.sect-2-button:hover{
    background-color: rgb(110, 68, 13);
    transition: 1s;
}
.sect-2-button a{
    color: white;
}
.sect2-image-box{
    margin-top: 10px;
    width: 648px;
    height: 648px;
}
.sect2-image-box img{
    width: 100%;
}

/* SECTION 3 */
.section3{
    background-color: #101010;
}
.sect3-big-box{    
    width: 1296px;
    height: 550px;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sect3-photo-box{
    width: 518px;
    height: 518px;
}
.sect3-photo-box img{
    width: 100%;
}
.sect3-text-box{
    width: 749.53px;
    height: 518px;
    padding: 60px 20px;
    color: #999999;
}
.sect3-text-box h4{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px;
}
.sect3-text-box h2{
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.sect3-text-box p{
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    width: 679px;
    height: 157px;
}
.figure{
    width: 715px;
    height: 65px;
}
.figure audio{
    min-width: 300px;
    width: 100%;
}
.sect3-little-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 650px;
    height: 50px;
    align-items: center;
}
.sect3-little-box h3{
    background-color: #99999913;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
    color: #999999;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid gray;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
}
.sect3-little-box h3:hover{
    background-color: #3a0b039d;
    transition: 1s;
}

/* SECTION 4 */
.sect4-big-box{
    height: 550px;
    background-color: rgb(35, 32, 32);
}
.sect4-text-box{
    margin-left: 50px;
    color: white;
}
.sect4-text-box h4{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.sect4-text-box h2{
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 55px;
    font-family: 'Poppins', sans-serif;
}
.sect4-photo-box{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-left: 15px;
}
.sect-4-photos{
    width: 220px;
}
.sect-4-photos img{
    width: 100%;
    height: 200px;  
    border-radius: 50%;
}
.sect-4-photos h3{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

/* SECTION 5 */

.sect5-big-box{
    position: relative;
    z-index: 1;
}
.sect5-big-box img{
    width: 100%;
}
.sect5-text-box{
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 30%;
    text-align: center;
    color: white;
}
.sect5-text-box h2{
    font-weight: 700;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.sect5-text-box h3{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.sect5-form{
    width: 700px;
    height: 350px;
    color: white;
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 26%;
}
.sect5-form {
    display: flex;
    padding-left: 34px;
}
.sect5-form input{
    width: 300px;
    height: 50px;
    margin: 6px;
}
.sect5-form textarea{
    width: 616px;
    resize: none;
    outline: none;
    margin: 6px;
}
.sect5-buttons{
    margin-left: 200px;
}
.sect5-buttons input{
    width: 100px;
    height: 40px;

}



/* FOOTER */ 
footer{   
    background-color: #010101;
    height: 450px;
}
.footer-div-box{ 
    background-color: #121212;
    height: 350px;
    padding-top: 40px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-child{   /*  background-color: tan; */
    width: 405.34px;
    height: 278.31px;
}
.footer-child h3{
    font-weight: 500;
    font-size: 16px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
.footer-child > p{
    height: 112px;
    font-weight: 500;
    font-size: 18px;
    color: #999999;
    font-family: 'Poppins', sans-serif; 
}
.footer-icons > ul{
    display: flex;
    column-gap: 20px;
    color: white;
}
.footer-icons a {
    color: #999999;
}
.footer-contact{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    

}
.footer-contact i{
    color: rgb(139, 70, 13);
}
.footer-contact a{
    color: #FEFEFE;
}
.footer-photo-box{
    width: 405px;
    height: 80px;
    margin-top: 30px;
    display: flex;
}
.footer-photo-text{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-left: 20px;
}
.footer-photo-text h5{
    font-weight: 400;
    font-size: 14px;
    color: #FEFEFE;
    font-family: 'Poppins', sans-serif;
}
.copyright{
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: #999999;
    font-family: 'Poppins', sans-serif;
}
.copyright a{
    font-weight: 700;
    font-size: 20px;
    color: rgb(119, 114, 114);
}