/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* Header */
.header-wraper{   
    background-color: rgba(41, 3, 3, 0.767);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70px;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 6;
    position: fixed;
}
.h1{
    font-weight: 900;
    font-size: 3.125rem;
}
.h1 a{
    color: rgb(142, 138, 127);
}
.ul-item{
    width: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
}
.ul-item a{
    color: rgb(178, 170, 149);
}
.li-item{
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.li-item:hover{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.search-box{
    position: relative;
}
.search-box input{
    max-width: 18.75rem;
    height: 30px;
    border-radius: 20px;
    border: none;
    border-bottom: 1px solid rgb(110, 82, 5);
    background-color: #532b2b55;
}
.search-box input::-webkit-input-placeholder{
    color: white;
    font-size: 14px;   
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
}
.search-box input::-moz-placeholder{
    color: white;
    font-size: 14px;   
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
}
.search-box input:-ms-input-placeholder{
    color: white;
    font-size: 14px;   
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
}
.search-box input::-ms-input-placeholder{
    color: white;
    font-size: 14px;   
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
}
.search-box input::placeholder{
    color: white;
    font-size: 14px;   
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
}
input:focus{
    outline: none;
}
.search-box button{
    width: 31px;
    height: 30px;
    border: none;
    border-top-right-radius: 33%;
    border-bottom-right-radius: 33%;
    position: absolute;
    left: 81%;
    background-color: rgba(211, 211, 211, 0.931);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.search-box button:hover{
    -webkit-box-shadow: 1px 0px 14px 1px rgb(255 181 95);
            box-shadow: 1px 0px 14px 1px rgb(255 181 95);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.burger-bar{
    color: white;
    width: 50px;
    height: 50px;
    padding: 17px;
    margin: 0 auto;
    border-radius: 50%;
    display: none;
    position: absolute;
}
/* SECTION ZERO */
.background{
    background-image: url(../images/header-media-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 815px;
    position: relative;
}
.section-big-box{
    position: absolute;
    width: 80%;
    min-height: 700px;
    margin: 0 auto;
    top: 100px;
    left: 10%;
}
.background-picture{
    position: absolute;
    max-width: 37.5rem;
    top: 1%;
}
.background-picture img{
    width: 111%;
}
.background-text{
    color: white;
    position: absolute;
    max-width: 21.125rem;
    min-height: 300px;
    top: 47%;
    left: 66%;
}
.background-text h4{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 20px;
}
.background-text h2{
    font-weight: 700;
    font-size: 3.75rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.buy-button {
    background-color: rgb(110, 82, 5);
    width: 145px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    color: black;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.buy-button a {
    color: white;
}
a:hover{
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.buy-button:hover{
    background-color: rgb(202, 111, 6);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
/* FIRST SECTION */
.section1{
    background-color: black;
}
.first-section-div-box{
    max-width: 90rem;
    margin: 0 auto;
    min-height: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.playlist{
    width: 22.5rem;
    height: 270px;
    position: relative;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.playlist:hover{
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.playlist img{
    width: 100%;
}
.playlist-text{ 
    width: 14.125rem;
    height: 158px;
    position: absolute;
    top: 41.5%;
    margin-left: 35px;
    padding-top: 30px;
    color: white;
}
.text-top{ 
    width: 14.375rem;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}
.text-top p{
    margin-left: 10px;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
.clock-icon{
    width: 14px;
    height: 15px;
}
hr{
    width: 140px;
    border: 1px solid white;
    margin-left: 10px;
}
.text-bottom{
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 14.375rem;
    height: 86px;
    font-weight: 600;
    font-size: 1.75rem;
    font-family: 'Poppins', sans-serif;
}
.play-button{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    padding: 11px 19px;
    margin-top: 11px;
    margin-left: 170px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.play-button:hover{
    background-color: rgb(110, 82, 5);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.black-image{     
    width:22.5rem;
    height: 270px;
    background-color: rgb(10, 10, 10);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.black-image:hover{
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.black-box-block{  background-color: rgba(255, 255, 255, 0.192);
    width: 6.25rem;
    height: 100px;
    margin: 0 auto;
    margin-top: 23%;
    padding: 10px 15px;
    font-size: 2.375rem;
    border-radius: 50%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.black-box-block:hover{
    background-color:  rgb(110, 82, 5);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.arrow{
    -webkit-animation-name: arrow;
            animation-name: arrow;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-play-state:running;
            animation-play-state:running;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}
@-webkit-keyframes arrow{
      from {
        -webkit-transform: translateX(-1.3vw);
                transform: translateX(-1.3vw);
      }
      to {
        -webkit-transform: translateX(1.4vw);
                transform: translateX(1.4vw);
      }
}
@keyframes arrow{
      from {
        -webkit-transform: translateX(-1.3vw);
                transform: translateX(-1.3vw);
      }
      to {
        -webkit-transform: translateX(1.4vw);
                transform: translateX(1.4vw);
      }
}
/* SECOND-SECTION */

.section2{
    background-color: black;
    height: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.section2-big-box{
    max-width: 90rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sect2-text-box {
    display: inline-block;
    margin-top: 20px;
    color: white;
    margin-left: 30px;
}
.sect2-little-text-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}
.sect2-text-box h4{
    font-weight: 400;
    font-size: 1.125rem;
    margin-bottom: 20px;
    padding-top: 20px;
}
.sect2-text-box h2{
    font-weight: 700;
    font-size: 2.375rem;
    margin-bottom: 55px;
}
.sect2-text-box p{
    font-weight: 400;
    font-size: 2.688rem;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.sect2-text-box h3{
    font-weight: 500;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    width: 10.75rem;
}
.sect-2-button{
    background-color: rgb(110, 82, 5);
    width: 160px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
    color: white;
    border-radius: 50px;
    font-weight: 400;
    font-size: 1rem;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-top: 50px;
}
.sect-2-button:hover{
    background-color:  rgb(202, 111, 6);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.sect-2-button a{
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.sect2-image-box{
    margin-top: 10px;
    max-width: 40.5rem;
    height: 648px;
}
.sect2-image-box img{
    width: 100%;
}

/* THIRD-SECTION */
.section3{
    background-color: #101010;
}
.sect3-big-box{    
    max-width: 90rem;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.sect3-photo-box{
    max-width: 32.375rem;
}
.sect3-photo-box img{
    width: 100%;
}
.sect3-text-box{
    max-width: 46.846rem;
    min-height: 518px;
    padding: 10px 15px;
    color: #999999;
}
.sect3-text-box h4{
    font-weight: 400;
    font-size: 1.375rem;
    margin-bottom: 20px;
}
.sect3-text-box h2{
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
}
.sect3-text-box p{
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 42.438rem;
    min-height: 157px;
}
.figure{
    max-width: 43.688rem;
    height: 65px;
}
.figure audio{
    width: 99%;
}
.sect3-little-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 5px;
    max-width: 40.625rem;
    min-height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sect3-little-box h3{
    background-color: #99999913;
    width: 12.5rem;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
    color: #999999;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid gray;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.sect3-little-box h3:hover{
    background-color: #3a0b039d;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.10);
        -ms-transform: scale(1.10);
            transform: scale(1.10);
}
p::-moz-selection {
    color: rgb(8, 87, 139);
    background-color: rgb(238, 217, 188);
  }
p::selection {
    color: rgb(8, 87, 139);
    background-color: rgb(238, 217, 188);
  }

/* FOURTH-SECTION */
.section4{
    background-color: rgb(35, 32, 32);
}
.sect4-big-box{
    max-width: 90rem;
    min-height: 550px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.sect4-text-box{
    margin-left: 50px;
    color: white;
}
.sect4-text-box h4{
    font-weight: 400;
    font-size: 1.125rem;
    margin-bottom: 20px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.sect4-text-box h2{
    font-weight: 700;
    font-size: 2.375rem;
    margin-bottom: 55px;
    font-family: 'Poppins', sans-serif;
}
.sect4-photo-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sect-4-photos{
    width: 13.125rem;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.sect-4-photos:hover{
    -webkit-transform: scale(1.09);
        -ms-transform: scale(1.09);
            transform: scale(1.09);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.sect-4-photos img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}
.sect-4-photos h3{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 20px;
}
/* FIFTH-SECTION */
.section5{
    background-color: rgb(35, 32, 32);
}
.background2{    
    background-image: url(../images/cta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
}
.sect5-text-box{
    margin-bottom: 40px;
    text-align: center;
    color: white;
    -webkit-box-shadow: 0px -1px 12px 0px rgb(181 140 92);
            box-shadow: 0px -1px 12px 0px rgb(181 140 92);
}
.sect5-text-box h2{
    font-weight: 700;
    font-size: 2.188rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.sect5-text-box h3{
    font-weight: 400;
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
}
.form{
    padding-left: 35px;
}
.sect5-form{
    width: 43.75rem;
    height: 500px;
    color: white;
    margin: 0 auto;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sect5-form input{
    width: 18.75rem;
    height: 50px;
    margin: 6px;   
    background-color: rgb(204, 187, 165);
}
.sect5-form input::-webkit-input-placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form input::-moz-placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form input:-ms-input-placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form input::-ms-input-placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form input::placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form input:hover{
    border-color: rgb(139, 70, 13);
}
.sect5-form textarea:hover{
    border-color: rgb(139, 70, 13);
}
.sect5-form textarea::-webkit-input-placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form textarea::-moz-placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form textarea:-ms-input-placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form textarea::-ms-input-placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form textarea::placeholder{
    color:  rgb(75, 39, 3);
    font-size: 0.938rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sect5-form textarea{
    width: 92.5%;
    resize: none;
    outline: none;
    margin: 6px;
    background-color: rgb(204, 187, 165);
}
.sect5-buttons{
    margin-left: 30%;
}
.sect5-buttons input:hover{
    -webkit-transform: scale(1.09);
        -ms-transform: scale(1.09);
            transform: scale(1.09);
    color: white;
    background-color: rgb(139, 70, 13);
}
.sect5-buttons input{
    width: 6.25rem;
    height: 40px;
    font-size: 0.875rem;   
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
/* FOOTER */ 
footer{   
    background-color: #010101;
    min-height: 450px;
}
.footer-div-box{ 
    max-width: 90rem;
    min-height: 400px;
    margin: 0 auto;
    background-color: #121212;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-child{
    max-width: 25.334rem;
    height: 278.31px;
    padding: 12px;
}
.footer-child h3{
    font-weight: 500;
    font-size: 1rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
.footer-child > p{
    max-width: 22.625rem;
    min-height: 112px;
    font-weight: 500;
    font-size: 1.063rem;
    color: #999999;
    font-family: 'Poppins', sans-serif; 
}
.footer-icons{
    margin-top: 10px;
}
.footer-icons > ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    color: white;
}
.footer-icons a {
    color: #999999;
}
.footer-contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    margin-top: 20px;
}
.footer-contact i{
    color: rgb(139, 70, 13);
}
.footer-contact a{
    color: #FEFEFE;
}
.footer-photo-box{
    max-width: 18.75rem;
    height: 80px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-photo-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1.25rem;
}
.footer-photo-text h5{
    font-weight: 400;
    font-size: 0.875rem;
    color: #FEFEFE;
    font-family: 'Poppins', sans-serif;
}
.copyright{
    text-align: center;
    font-weight: 500;
    font-size: 1.063rem;
    color: #999999;
    font-family: 'Poppins', sans-serif;
    margin: 15px auto;
}
.copyright a{
    font-weight: 700;
    font-size: 1.25rem;
    color: rgb(119, 114, 114);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.copyright a:hover{
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: white;
    background-color: rgb(139, 70, 13);
    border-radius: 40%;
}
#language{
    margin-top: 13px;
    -webkit-box-shadow: 0px 0px 7px 1px rgb(164, 120, 76);
            box-shadow: 0px 0px 7px 1px rgb(164, 120, 76);
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    padding: 5px;
    background-color: gray;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
#language:hover{
    -webkit-box-shadow: 0px 0px 7px 1px rgb(249 137 8);
            box-shadow: 0px 0px 7px 1px rgb(249 137 8);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}